body {
    color: white;
    text-align: center;
    background-image: url(https://assets.about.me/background/abhiroop.basu_1305106587_73.jpg);
}

img {
    width: auto;
    height: 400px;
    display: block;
    margin: 0 auto;
}
